version: '3'

volumes:
  data:
services:
  grader:
    image: apluslms/run-mooc-grader:1.15
    volumes:
      - data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/aplus:/tmp/aplus
      - .:/srv/courses/default:ro
    ports:
      - "8080:8080"
  plus:
    image: apluslms/run-aplus-front:1.15
    volumes:
      - data:/data
    ports:
      - "8000:8000"
    depends_on:
      - grader
